@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
a:visited {
    color: #E5E7EB
}
/*
-->Content Table<--
1. Header
    1.a. Navigation Bar
    2.a. Hero Section
    3.a. hydribd between 1.a. and 2.a.
2. Information Section
3. Quote Section
4. Footer
5. hybrids
*/

/*1. Header*/
/*1.a. Navigation Bar*/
.header-nav {
    padding-top: 20px;
    display: flex;
}
.header-nav-logo {
    font-size: 24px;
}
.header-nav-links {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/*2.a. Hero Section*/
.hero {
    padding: 120px 0;
    display: flex;
    gap: 20px;
}
.hero-text {
    flex: 1;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
}
.hero-text button {
    background-color: #3882F6;
    padding: 5px 30px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
}
.hero-image {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*3.a. hydribd between 1.a. and 2.a.*/
.header-nav-logo,
.hero-text h1 {
    color: #F9FAF8;
}

.header-links,
.hero p,
.hero-text button {
    font-size: 18px;
    color: #E5E7EB
}


/*2. Information Section*/
.information-section {
    padding: 0 120px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px 0;
}
.info-cards {
    display: flex;
    padding: 0 60px;
}
.info-cards article {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info-cards article div { /*creates fake image blocks*/
    width: 150px;
    height: 150px;
    border: 5px solid rgb(64, 116, 238);
    border-radius: 20px;
}


/*3. Quote Section*/
.quote-section {
    padding: 100px 200px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}
.the-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-self: center;
}
.citation {
    align-self: end;
}


/*4.Footer*/



/*5. hybrids*/
header, footer {
    padding: 0 120px;
    background-color: #1F2937;
}